@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body {
    font-family: 'PT Serif';
    font-size: 19px;
    color: #000000;
}


/* Navbar Links when hovered*/
.navbar-default .dropdown-menu>.active>a
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav:hover, 
.navbar-default .navbar-nav>li>a:hover, 
a.navbar-brand:hover {
  color: #ffffffab !important;
}
